<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brewery.voteapp" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:name=".VoteApplication"
        android:allowBackup="false"
        android:icon="@drawable/vote_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ManagerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResultsActivity"
            android:label="@string/poll_results_label">
        </activity>
        <activity android:name=".VoteActivity"
            android:label="@string/vote_label_string"/>
        <activity android:name=".EditorActivity" />
        <activity
            android:name=".HelpScreen"
            android:label="@string/title_activity_help_screen" >
        </activity>
        <activity
            android:name=".AboutScreen"
            android:label="@string/title_activity_about_screen" >
        </activity>

    </application>

</manifest>
